// Put this line in the last line of theme.scss:
// @import "haightpolitics.custom";
// and then delete these three lines


th {
	background-color: #f2f2f2;
	font-weight: 300;
	border: 1px solid #d6d6d6;
}
body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	margin-top: 50px;
	color: #666666;
}

img {
	max-width: 100%
}
.input-styles {
	border: 2px solid #f2f2f2;
	padding: 10px;
	box-shadow: 0 0 5px #f2f2f2;
	margin: 3px 0 3px -8px;
}
.current {
	font-size: 0.8em;
}

// mixns ----------------------------

// desktop wide
@media (min-width: 1200px) {


}
// desktop narrow
@media (min-width: 992px) and (max-width: 1199px) {



}
// ----------------------------
// tablet wide maybe
@media (min-width: 768px) and (max-width: 991px) {

	
}
// tablet narrow
@media (min-width: 481px) and (max-width: 767px)  {


		
}
// phone
@media (max-width: 480px)  {


}
